<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMessageService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMessageService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9001/MessageService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMessageService" contract="MessageServiceClient.IMessageService"
        name="BasicHttpBinding_IMessageService" />
      <endpoint address="net.tcp://localhost:9002/MessageService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IMessageService" contract="MessageServiceClient.IMessageService"
        name="NetTcpBinding_IMessageService">
        <identity>
          <userPrincipalName value="Waffle\KoaloDeveloper" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>